body {
    width: 980px;
    background-image: linear-gradient(red, yellow);
    height: 700px;
    
}
h1 {
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    color: white;
    text-align: center; 
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 40px blue, 0 0 5px darkblue;
}
p {
    padding-top: 20px;
    margin-left: 200px;
    width: 680px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    box-shadow: 10px 10px 5px black;
    text-align: center;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#wins {
    text-shadow: 2px 2px red;
    padding: 20px;
    font-size: 60px;
    box-shadow: 5px 5px 5px red;
    font-size: 60px;
    margin-left: 100px;
    width: 200px;

}
#losses {
    margin-left: 150px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px yellow;
    font-size: 50px;
    box-shadow: 5px 5px 5px red;
    width: 350px;
}
#guesses-left {
    text-shadow: 2px 2px red;
    padding: 20px;
    font-size: 60px;
    box-shadow: 5px 5px 5px red;
    font-size: 50px;
    margin-left: 200px;
    width: 500px;
}
#your-guesses {
    border-radius: 25px;
    border: 2px solid red;
    padding: 20px; 
    width: 900px;
    height: 50px;
    font-size: 60px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px yellow;
    margin-left: 110px;
    box-shadow: 5px 5px 5px red;
}

.far {
    clear: both;
    position: sticky;
    text-align: center;
    color: green;
    font-family: 'Sacramento', cursive;
    margin-left: 10px;
}

/* 
    @media only screen and (min-width: 320px) and (max-width: 480px) {
    
    }

    @media only screen and (min-width : 768px) and (max-width : 1024px) {
    }
    @media only screen  and (min-width : 1224px) {
    }
    @media only screen  and (min-width : 1824px) {
    } */